[pull]
	rebase = true
[merge]
	conflictstyle = diff3
[push]
	default = current
	autoSetupRemote = true
[core]
	editor = code --wait
[http]
	postBuffer = 524288000
[tig]
	main-view-commit-title-graph = v1
